@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Noto+Sans:wght@600&family=Secular+One&display=swap');

:root{
    --darkviolet: #6e0606;
    --violet: #8c4ffd;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Secular One", sans-serif;
    color: beige;
  }
  
  
  body {
    background-color: #6e0606;
  }
  
  header {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #6e0606;
  }
  
  .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 20vh;
    position: relative;
  }
  #switch{
    margin-top: 20px;
  }
  .header .button .switch {
    /* margin-right: 20px; */
    background: #3a0303;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
  }
  .header .button .switch::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    background: #F1F1F1;
    top: 9%;
    right: 5%;
    left: unset;
    border-radius: 100px;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .header .button .switch.active {
    background: orange;
    color: #000;
  }
  .header .button .switch.active::after {
    left: 5%;
    right: unset;
  }
  .header .button .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 20px;
    align-self: center;
    padding-top: 1.5px;
    background: none;
    color: #fff;
  }
  .header .button .switch span i {
    background: none;
  }
  
  main {
    background-color: #6e0606;
    padding: 30px;
    position: relative;
  }
  
  section {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background-color: beige;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  form div {
    display: flex;
    margin: 5px;
    padding: 20px;
    justify-content: center;
  }
  
  .input {
    display: flex;
    flex-direction: column;
  }
  
  input, select {
    color: #6e0606 !important;
    background-color: beige !important;
    width: 300px;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
  
  option {
    color: #6e0606;
  }
  
  button, .button1 {
    text-decoration: none;
    align-self: center;
    background-color: beige;
    padding: 15px;
    border: 2px;
    border-color: #6e0606;
    height: 49px;
    border-radius: 0.5rem;
    border-style: solid;
    color: #6e0606;
    font-weight: 700;
    cursor: pointer;
  }
  .button1{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .dados{
    margin-top: 40px;
  }
  .personaje{
    margin-bottom: 40px;
  }
  
  button:hover, a:hover {
    background-color: #6e0606;
    color: beige;
  }
  
  footer {
    display: flex;
    height: 10vh;
    background-color: #6e0606;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 608px) {
    header {
      font-size: 25px;
    }
    p {
      font-size: 14px;
    }
  }
  @media (max-width: 395px) {
    header {
      font-size: 22px;
    }
    .forminput {
      width: 200px;
    }
  }
  @media (max-height: 600px) {
    section img {
      width: 150px;
    }
  }
  @media (max-height: 506px) {
    section img {
      width: 100px;
    }
    p {
      font-size: 14px;
    }
  }
  .dark main section {
    background-color: #b42020;
  }
  .dark main section #answer {
    color: whitesmoke;
}